In [1]:
import pandas as pd
import numpy as np

ser_obj = pd.Series(np.random.randn(12),index=[
                ['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd'],
                [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]
            ])
print(ser_obj)

a  0   -0.237372
   1    1.858028
   2    0.005211
b  0    1.370413
   1   -0.092090
   2    0.498949
c  0   -0.207207
   1    0.491316
   2   -0.133822
d  0    0.171012
   1   -0.944602
   2   -0.972132
dtype: float64

In [2]:
print(type(ser_obj.index))
print(ser_obj.index)

<class 'pandas.core.indexes.multi.MultiIndex'>
MultiIndex([('a', 0),
            ('a', 1),
            ('a', 2),
            ('b', 0),
            ('b', 1),
            ('b', 2),
            ('c', 0),
            ('c', 1),
            ('c', 2),
            ('d', 0),
            ('d', 1),
            ('d', 2)],
           )

In [3]:
ser_obj['c']

0   -0.207207
1    0.491316
2   -0.133822
dtype: float64

In [7]:
ser_obj['b',2] #取某个元素

0.49894861408441493

In [8]:
ser_obj.swaplevel()

0  a   -0.237372
1  a    1.858028
2  a    0.005211
0  b    1.370413
1  b   -0.092090
2  b    0.498949
0  c   -0.207207
1  c    0.491316
2  c   -0.133822
0  d    0.171012
1  d   -0.944602
2  d   -0.972132
dtype: float64

In [10]:
ser_obj

a  0   -0.237372
   1    1.858028
   2    0.005211
b  0    1.370413
   1   -0.092090
   2    0.498949
c  0   -0.207207
   1    0.491316
   2   -0.133822
d  0    0.171012
   1   -0.944602
   2   -0.972132
dtype: float64

In [11]:
ser_obj.unstack(1) #拆开层级索引，最外层索引是0

          0         1         2
a -0.237372  1.858028  0.005211
b  1.370413 -0.092090  0.498949
c -0.207207  0.491316 -0.133822
d  0.171012 -0.944602 -0.972132